<?xml version="1.0" ?>
<config>
    <modules>
        <Hackathon_Magefixes>
            <version>0.0.1</version>
        </Hackathon_Magefixes>
    </modules>
    <global>
        <models>
            <hackathon_magefixes>
                <class>Hackathon_Magefixes_Model</class>
            </hackathon_magefixes>
            <eav>
                <rewrite>
                    <config>Hackathon_Magefixes_Model_Eav_Config</config>
                </rewrite>
            </eav>
        </models>
        <events>
            <!-- observers needed to fix eav cache -->
            <eav_entity_attribute_set_save_commit_after>
                <observers>
                    <hackathon_magefixes_eav_cache>
                        <type>singleton</type>
                        <class>hackathon_magefixes/observer_eav_cache</class>
                        <method>flushEavCache</method>
                    </hackathon_magefixes_eav_cache>
                </observers>
            </eav_entity_attribute_set_save_commit_after>
            <eav_entity_attribute_set_delete_commit_after>
                <observers>
                    <hackathon_magefixes_eav_cache>
                        <type>singleton</type>
                        <class>hackathon_magefixes/observer_eav_cache</class>
                        <method>flushEavCache</method>
                    </hackathon_magefixes_eav_cache>
                </observers>
            </eav_entity_attribute_set_delete_commit_after>
            <catalog_entity_attribute_save_commit_after>
                <observers>
                    <hackathon_magefixes_eav_cache>
                        <type>singleton</type>
                        <class>hackathon_magefixes/observer_eav_cache</class>
                        <method>flushEavCache</method>
                    </hackathon_magefixes_eav_cache>
                </observers>
            </catalog_entity_attribute_save_commit_after>
            <catalog_entity_attribute_delete_commit_after>
                <observers>
                    <hackathon_magefixes_eav_cache>
                        <type>singleton</type>
                        <class>hackathon_magefixes/observer_eav_cache</class>
                        <method>flushEavCache</method>
                    </hackathon_magefixes_eav_cache>
                </observers>
            </catalog_entity_attribute_delete_commit_after>
        </events>
    </global>
</config>